.Rproj.user
.Rhistory
.RData
.Ruserdata
American data
Mastermind_data_dictionary.xlsx
SGLt2 GLP1RA paper plan_pc.docx
Samples
Scottish data
Shiny App
m1_hba1cmodel_SGLT2_DPP4.Rdata
11.05.slade_aurum_response_model-log.R
11.05.slade_aurum_response_model_sim_iterations.R
patient_predicted_outcomes.rds
patient_prop_scores.rds
