11.05.BCF_prop_vs_no_prop.pdf
11.05.dev_PSM_1_1_dev.pdf
11.05.dev_full_love_plot.pdf
11.05.simulation_iterations_100k_5k_2k.pdf
11.05.slade_aurum_bcf_2k.pdf
11.05.slade_aurum_bcf_strat_2.pdf
11.05.slade_aurum_bcf_strat_3_only_vars.pdf
11.05.val_PSM_1_1_val.pdf
11.05.val_full_love_plot.pdf
